@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

// font
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/ProximaNova-Semibold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/ProximaNova-Semibold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: Sofiapro;
  src: url('/assets/fonts/sofiapro-semibold.otf');
  font-weight: 400;
}
:root {
  --primary: #fe2c55;

  // DefaultLayout
  --default-layout-header-height: 60px;
  --default-layou-width: 1150px;
  --text-color: #161823;
}
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'ProximaNova', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

body .tippy-box {
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  background-color: rgba(84, 84, 84, 0.92);
  padding: 4px;
}

body .tippy-arrow {
  color: rgba(84, 84, 84, 0.92);
}
