.more-menu {
  min-width: 230px;
}

.menu-item {
  padding: 12px 10px 12px 16px;
  background: none;
  width: 100%;
  text-align: start;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  &.separate {
    border-top: 1.5px solid rgba(22, 24, 35, 0.12);
  }
}

.menu-popper {
  padding-bottom: 8px;
}

// header-menu
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
}

.btn-back {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.icon-back {
  font-size: 18px;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}
